body{
	font-family: Arial;
	color: #333333;
	margin: 0;
	font-size: 20px;
}
h1{
	font-size: 24px;
	margin: 0;
}
a{
	text-decoration: none;
	color: #CCCCCC;
}
a:hover {
	color: #FFFFFF;
}
#top,
#content figcaption,
#copyright{
	background-color: #212121;
}
#top {
	background-color: #212121;
	display: flex;
	flex-direction: row;
	align-items: center; /*Eje X*/
	justify-content: flex-start; /*Eje Y*/
	padding: 10px;
	border-bottom: solid 1px #FFFFFF;
}
#top button{
	display:none;
}
header {
	background-color: #212121;
}
#menu {
	list-style: none;
	padding: 0;
	margin: 0 0 0 auto;
	color: white;
	overflow: hidden;
	text-align:center;
}
/*
li {
	display: inline; /*Elementos uno al lado de otro (no soporta margin top/bottom)
	display: block; /*Elementos uno debajo del otro (soporta margin y padding completamente)
	display: inline-block; /* Elementos uno al lado de otro y soporte para margin/padding completamente 
	display: none /* oculta el eleento completamente en el interfaz
}	 
*/
#menu li{
	float: left;
}
#menu li a{
	color: red;
	display: block;
	padding: 10px;
	font-size: 24px;
	color: #D9D9D9;
}
#menu li a:hover{
	color:#FFFFFF;
	background-color:#AAAAAA;
}
#content figure{
	margin: 0;
}
#content figure figcaption {
	background-color: #212121;
	top: 10px;
}
#content figure figcaption h2{
	color: #FFF;
	margin: 0;
	font-size: 36px;
}
#content img {
	display: block;
	width: 100%;
}
.noticia{
	border-bottom: solid 1px #cccccc;
	display:flex;
	margin: 0 10px;
	padding: 10px 0;
}
.noticia-img,.noticia-txt{
padding: 0 10px;
	box-sizing: border-box;/*te ajusta los elementos a la caja*/
}
.noticia-img{
	width: 30%;	
}
.noticia-txt{
	width: 70%;
}
#ultimasNoticias .noticia:last-child{
border: none;
}
#copyright p{
	margin: 0;
	padding: 10px;
	color: #FFF;
	text-align: center;
}
#tablaPosiciones table{
	border-collapse: collapse;
	border: solid 1px #000000;
	margin: auto;
	width: 800px;
}
#tablaPosiciones table tr{
	border: solid 1px #000000;
	
}
#tablaPosiciones table th{
	background-color: red;
	color: #FFF;
}
#tablaPosiciones table td{
	background-color: #CCCCCC;
	padding: 10px;
}
#tablaPosiciones table td:nth-of-type(odd){/*Impares*/

}
#tablaPosiciones table td:nth-of-type(even) strong{/*Pares*/
color: green;
}
/* Ajustes Mobile*/
@media screen and (min-width: 320px) and (max-width: 480px){
	#top {
		flex-wrap: wrap;
	}
	#menu{
		display:none;
		margin: auto;
		width: 100%;
		background-color: #212121;
		position: absolute;
		left:0;
		top: 50px;
		z-index: 9999;
	}
	#top button{
		display: block;
		border:none;
		background-color: transparent;
		color: #CCCCCC;
		font-size:20px;
		font-weight: 600;
		margin-left: auto;
	}
	#top button:focus + #menu {
		display: block; 
	}
	#menu li{
		float: none;
	}
}
